@font-face {
    font-family: JosefinSans;
    src: url(font/JosefinSans-VariableFont_wght.ttf);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: JosefinSans;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(img/pexels-konevi-1335115.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

input {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 5px;
    height: 20px;
}

button {
    background-color: transparent;
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    border: 4px solid white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 1px 5px black;
}

.btn-buscar {
    border: none;
    background-color: transparent;
    background-image: url(icons/search.svg);
    background-size: 100% 100%;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

h1 {
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60% 40%;
    height: 100%;
    width: 100%;

}

header {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    padding-top: 80px;
}

header > div {
    height: fit-content;
    display: flex;
    align-items: center;
}

.left-content,
.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding: 50px;
}

.left-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.right-content {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

ul > li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.estado,
.temp {
    font-size: 3rem;
}

.temp {
    font-weight: bolder;
}

li.localizacion {
    font-weight:bold;
}