@font-face {
    font-family: JosefinSans;
    src: url(font/JosefinSans-VariableFont_wght.ttf);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: JosefinSans;
    font-weight: bold;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(img/pexels-konevi-1335115.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60% 40%;
    height: 100%;
    width: 100%;

}

header {
    display: flex;
    grid-column: 2/3;
    justify-content: center;
}

.left-content,
.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.left-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}

.right-content {
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}